<html>
    <head>
        <title>Django Kid</title>
     <body>
        <div>
            <h1><a href="">=Django Kid=</a></h1>
        </div>

        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Apenas mais um blog!! Desenvolvimento de projetos em Python utilizando o framework Django!! </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Versionameto de projeto utilizando git. Ambiente de testes hospedado na <a href="http://euclidespaim.pythonanywhere.com">euclidespaim.pythonanywhere.com</a> </p>
        </div>


    </body>
</html>